<% content_for :title do %>Ariel<% end %>
<% content_for :description do %>Website of Ariel<% end %>
<section>
  <img src="http://themes.themewaves.com/leafage/wp-content/uploads/sites/11/2014/01/macbook-air-all-faded-and-stuff.jpg">
</section>
<section>
  <div class="column">
    <h2>Ariel is pretty cool, so give us your emails.</h2>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
        <br/>
        <%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>
