<% content_for :title do %>About<% end %>
<h3>About Ariel</h3>
<p>Ariel is bound to serve the magician Prospero, who rescued him from the tree in which he was imprisoned by Sycorax, the witch who previously inhabited the island. Prospero greets disobedience with a reminder that he saved Ariel from Sycorax's spell, and with promises to grant Ariel his freedom. Ariel is Prospero's eyes and ears throughout the play, using his magical abilities to cause the tempest in Act One which gives the play its name, and to foil other characters' plots to bring down his master.</p>

<p>The source of Ariel's name and character is unknown, although several critics have pointed out his similarities to the Ariel mentioned in Isaiah chapter 29 in the Bible. The name means "Lion of God", in this sense. Ariel may also be a simple play on the word "aerial". Scholars have compared him to sprites depicted in other Elizabethan plays, and have managed to find several similarities between them, but one thing which makes Ariel unique is the human edge and personality given him by Shakespeare.</p>
<p>One of his favorite quotations is:</p>
<p>Patience and perseverance have a magical effect before which difficulties disappear and obstacles vanish.</p>
